*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    color: grey;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.container-logo, .container-search,
.container-playlist, 
.container-download-profile{
    display: flex;
    flex-direction: column;
} 

.container-all{
    width: 80%;
    margin: 0 auto;

}


.logo{
    width: 100%;
    padding-top: 5px;
}

.home img, .cerca img, 
.library img{
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.container-playlist{
    margin-top: 15px;
}

h3{
    font-size: 15px;
    color: white;
}

.new-playlist ul li{
    list-style: none;
    margin-top: 5px;
}


@media screen and (max-width: 576px){
    /* barra laterale mobile */
    .container-all{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-logo, .container-search,
    .container-cerca, .container-library,
    .container-download-profile{
        display: flex;
    }

    .container-download-profile{
        justify-content: flex-end;
        height: 100vh;
    }


    span, h3, .logo, 
    .container-playlist{
        display: none;
    }

    .logo-small img{
        width: 30px;
        margin-top: 5px;
        cursor: pointer;
    }

    .home img, .cerca img, 
    .library img{
        width: 25px;
        margin-top: 10px;
        cursor: pointer;
    }

    .download img{
        width: 15px;
    }
    
    .profile img{
        background-color: grey;
        border-radius: 15px;
        width: 25px;
    }

    .profile img, .download img{
        margin-top: 10px;
    }

    .container-apgrade{
        display: flex;
        background-color: red;
        height: 100px;
        justify-content: flex-end;
    }

    .frase p{
        display: flex;
        align-items: center;
        height: 100%;
    }

    

}
    
